<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>NOXH-GIS</display-name>
  <welcome-file-list>
    <welcome-file>HomeController</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCD</servlet-name>
    <url-pattern>/AddCD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCD</display-name>
    <servlet-name>AddCD</servlet-name>
    <servlet-class>controller.AddCD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCD</servlet-name>
    <url-pattern>/EditCD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCD</display-name>
    <servlet-name>EditCD</servlet-name>
    <servlet-class>controller.EditCD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCD</servlet-name>
    <url-pattern>/DeleteCD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCD</display-name>
    <servlet-name>DeleteCD</servlet-name>
    <servlet-class>controller.DeleteCD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmailServlet</servlet-name>
    <url-pattern>/CheckEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckEmailServlet</display-name>
    <servlet-name>CheckEmailServlet</servlet-name>
    <servlet-class>controller.CheckEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDA</servlet-name>
    <url-pattern>/AddDA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDA</display-name>
    <servlet-name>AddDA</servlet-name>
    <servlet-class>controller.AddDA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCD</servlet-name>
    <url-pattern>/SearchCD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCD</display-name>
    <servlet-name>SearchCD</servlet-name>
    <servlet-class>controller.SearchCD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDA</servlet-name>
    <url-pattern>/EditDA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDA</display-name>
    <servlet-name>EditDA</servlet-name>
    <servlet-class>controller.EditDA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDA</servlet-name>
    <url-pattern>/DeleteDA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDA</display-name>
    <servlet-name>DeleteDA</servlet-name>
    <servlet-class>controller.DeleteDA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHoSo</servlet-name>
    <url-pattern>/AddHoSo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHoSo</display-name>
    <servlet-name>AddHoSo</servlet-name>
    <servlet-class>controller.AddHoSo</servlet-class>
  </servlet>
</web-app>